@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}

body {
  font-family: 'Source Sans Pro', Helvetica, arial, sans-serif;
  margin-left: 0;
}

p,h1,h2,h3,h4,h5,h6,ul,ol,li,div,td,th,address,blockquote,nobr,b,i
     { font-family: 'Source Sans Pro', Helvetica, arial, sans-serif; }

p,ul,ol,li,div,td,th,address,nobr,b,i { font-size:15px; }

p {
    margin-bottom: 1.5ex;
}

p + p {
    text-indent: 0;
    margin-top: 1.5ex;
}

h1 {
    font-size:1.2em;
    color: #3e606f;
    font-weight:bold;
}

h1 a {
    color: #3e606f;
}

h2 {
    font-size:1.1875em;
    /* ag weinrot color:#640201; hell rot: #994844 */
    color: #3e606f;
    font-weight:normal;
}

h3 { font-size:1.10em; color:#3e606f; font-weight:normal; }

h4 { font-size:1em; color:#94152a; font-weight:bold; }

h5 { font-size:1em; color:#000000; font-weight:bold; }

h6 { font-size:0.7em; color:#000000; font-weight:normal; }

#center { 
  text-align:center;
}

.navbar-fp .nav > li > a:hover {
	color: #bbb;
}
a:hover {
    color: rgb(110,45,42);
    text-decoration: none;
}

img { border: 0 }

#navbar {
	padding: 50px 0;
	margin-bottom: 20px;
	background: url(/img/header-bg.png) center 2px #dfdfdf;
	
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.navbar-fp {
	border-top: 1px solid rgb(32,45,61);
	border-bottom: 5px solid rgb(110,45,42);
    padding-top: 4px;
    margin-bottom: 0;
	
	background: -moz-linear-gradient( /* Verlauftyp */
        top, /* Startpunkt */
        rgb(33,80,105), /* Startfarbe */
        rgb(32,56,79)/* Endfarbe */
    ); /* Firefox 3.6+ */
    background: -webkit-gradient(
        linear, /* Verlauftyp */
        left top, /*Startpunkt */
        left bottom, /*Endpunkt */
        from(rgb(33,80,105)), /*Startfarbe */
        to(rgb(32,56,79)) /*Endfarbe */
    ); /* Safari, Chrome */
    background: -o-linear-gradient(top, rgb(33,80,105), rgb(32,56,79));
    background: -ms-linear-gradient(top, rgb(33,80,105), rgb(32,56,79));
	/* aktueller W3C working draft */
	background: linear-gradient(top, rgb(33,80,105), rgb(32,56,79));
	
	box-shadow: 0 1px 0 rgb(74,35,34);
    -webkit-box-shadow: 0 1px 0 rgb(74,35,34);
    -moz-box-shadow: 0 1px 0 rgb(74,35,34);

}
.navbar-fp .navbar-inner {
	background: transparent;
	border: 0;	

    /* factis mint grün: #91aa9d, factis hellrot #ff5400 */
    //background: #193441;
}
.navbar-fp .navbar-inner .nav-pills {
	height: auto;
    left: 80px;
}
.container-fluid .row-fluid, .navbar-fp .navbar-inner {
	max-width: 1024px;
	margin: 0 auto;
}

.navbar-fp .nav > li {
}

.navbar-fp .nav > li > a {
    //text-shadow: 0 0 0;
    color: #f2f2f2;
    text-shadow: rgb(0,0,0) 1px 1px;
    font-size: 17px;
    line-height: 130%;
    padding-bottom: 0px;
}

#navbar #logo {
	position: absolute;
	top: 32px;
}

.navbar .brand {
    font-size: 14px;
}

.navbar-search {
	margin-bottom: 5px;
}

.navbar-search .search-query {
	border: 1px solid rgba(0,0,0,.33);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
}
.navbar-search .search-query:focus {
	border: 1px solid rgb(110,45,42);
	box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    -moz-box-shadow: 0 0 5px #fff;
}

#main {
    padding: 0;
}

#sidebar {
    /*border: 1px solid #E3E5E4;*/
    border: 0;
    /*background: #F3F4EE;
    line-height: 160%;
    */
    overflow: hidden;
    
    border-radius: 0;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.5);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.5);
}

#sidebar .sidehead {
    font-size:1.1875em;
    color: #222;
    line-height: 1em;
    margin: 16px 0;
}

#recent-posts ul {
  font-size: 1.5em;
}

.post {
	background: url(/img/post-bg.png) no-repeat;
	padding: 12px 25px;
	color: #444;
}

.post-content {
 line-height: 1.3em;
}
.post-author {
	margin-bottom: 0.5em
}

.post-title {
    //border-left: 4px solid #994844;
    //padding-left: 10px;
    font-weight: bold;
    font-size: 1.4em;
    line-height: 1.2em;
}
.label {
	background-color: rgb(33,80,108);
	font-size: 0.8em;
	margin-top: 1em;
	padding: 6px;
}

.post-tags {
}

.post-content > h1 {
    font-size: 1.3em;
}

.hn iframe {
    border: none;
    position: relative;
    top: -8px;
}
.fb div {
    padding-right: 30px;
}

hr.post-divider {
    border-top: 2px solid #EEE;
    border-bottom: 1px solid white;
}

#paging li, .pager li {
	font-size: 0.8em;
}

.post-share li span {
    float: left;
    width: 100px;
}

.author-info {
    height: 100px;
    margin-top: 20px;
}

.author-picture { 
  float: right;
  max-width: 80px;
  height: auto;
  margin-left: 10px;
}
