---
layout: default
title: Blog Archiv
---

<div class="content-box">
  <h1>Archiv</h1>
  Nach Datum sortiert &nbsp; | &nbsp; <a href="author-archive.html">Nach Autoren sortiert</a>
  <div>
    {% for post in site.posts %}
      {% assign currentyear = post.date | date: "%Y" %}
      {% if currentyear != year %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h3>{{ currentyear }}</h3>
        <ul>
        {% assign year = currentyear %}
      {% endif %}
        <li class="archive-post">
          <span class="post-date">{{ post.date | date: "%d.%m.%Y" }}</span>&nbsp;&ndash;&nbsp;<a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
  </div>
</div>
