---
layout: default
title: Tag Archive
---

<div class="content-box">
  <h1>Archiv</h1>
  <a href="archive.html">Nach Datum sortiert</a> &nbsp; | &nbsp; Nach Autoren sortiert
  <div>
    {% for author_ in site.authors %}
    <h2>{{ author_[1].name }}<a name="{{ author_[0] }}" class="anchor">&nbsp;</a></h2>
    <div class="author-info" style="margin-top: 0">
      {% if author_[1].image %}
      <div class="author-picture">
        <img alt="{{ author_[1].name }}" src="{{ author_[1].image }}">
      </div>
      {% endif %}
      <div markdown="1" class="author-text">
        <p>{{ author_[1].about }}</p>
      </div>
    </div>
    <ul>
      {% for post in site.posts %}
      {% if post.author == author_[0] %}
      <li class="archive-post">{{ post.date | date: "%d.%m.%Y" }}&nbsp;&ndash;&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    <hr/>
    {% endfor %}
  </div>
</div>
