---
layout: default
title: Tag Archive
---

<div class="content-box">
  <h1>Tags</h1>
  <div id="articles">
    <dl>
      {% assign sorted_tags = site.tags | sort %}
      {% for tag_ in sorted_tags %}
      {% capture tag %}{{ tag_ | first }}{% endcapture %}
      <h3>{{ tag }} <a name="{{ tag }}" class="anchor">&nbsp;</a></h3>
      <ul>
        {% for post in site.posts %}
          {% if post.tags contains tag %}
            <li class="archive-post">{{ post.date | date: "%d.%m.%Y" }}&nbsp;&ndash;&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      {% endfor %}
    </dl>
  </div>
</div>
