<a href="http://www.fh-wedel.de/~si/">Prof. Dr. Uwe Schmidt</a> lehrt
an der <a href="http://www.fh-wedel.de">FH Wedel</a> im Fachbereich
Informatik Programmiersprachen und Software-Entwicklung, unter anderem
seit dem Jahr 2000 <em>Funktionale Programmierung mit Haskell</em> im
Master-Studiengang für Informatik. Er ist Autor des bekannten
Haskell Pakets <a
href="http://www.fh-wedel.de/~si/HXmlToolbox/index.html">HXT</a>,
eine standardkonforme und sehr umfangreiche Bibliothek zur XML-Verarbeitung.
