<!-- Definiert was über den Autor Autor am Ende des Postings gesagt wird -->

{% capture about %}
{% case page.author %}

{% when 'david-frese' %}
{% include author/david-frese.html %}

{% when 'andreas-bernauer' %}
{% include author/andreas-bernauer.html %}

{% when 'michael-sperber' %}
{% include author/michael-sperber.html %}

{% when 'stefan-wehr' %}
{% include author/stefan-wehr.html %}

{% when 'uwe-schmidt' %}
{% include author/uwe-schmidt.html %}

{% when 'alexander-thiemann' %}
{% include author/alexander-thiemann.html %}

{% else %}
{% assign author_undefined = true %}

{% endcase %}
{% endcapture %}

{% if author_undefined != true %}
<hr/>
<div class="author-info">
<div class="author-picture"><img alt="{{ page.author }}" src="/author/{{ page.author }}.jpg"></div>
<div markdown="1" class="author-text">
<em><p>Zum Autor:</p></em>
<p>{{ about }}</p>
</div>
</div>
{% endif %}
