<!-- Definiert was über den Autor Autor am Ende des Postings gesagt wird -->

{% capture about %}
{% case page.author %}

{% when 'david-frese' %}
{% include author/david-frese.html %}

{% when 'andreas-bernauer' %}
{% include author/andreas-bernauer.html %}

{% when 'michael-sperber' %}
{% include author/michael-sperber.html %}

{% when 'stefan-wehr' %}
{% include author/stefan-wehr.html %}

{% when 'uwe-schmidt' %}
{% include author/uwe-schmidt.html %}

{% when 'alexander-thiemann' %}
{% include author/alexander-thiemann.html %}

{% when 'niklas-baumstark' %}
{% include author/niklas-baumstark.html %}
{% assign author_no_image = true %}

{% when 'joachim-breitner' %}
{% include author/joachim-breitner.html %}
{% assign author_image = "joachim-breitner.png" %}

{% else %}
{% assign author_undefined = true %}
{% assign author_no_image = false %}

{% endcase %}
{% endcapture %}

{% if author_undefined != true %}
<hr/>
<div class="author-info">
{% if author_no_image != true %}
<div class="author-picture">
  {% if author_image %}
    <img alt="{{ page.author }}" src="/author/{{ author_image }}">
  {% else %}
    <img alt="{{ page.author }}" src="/author/{{ page.author }}.jpg">
  {% endif %}
</div>
{% endif %}
<div markdown="1" class="author-text">
<em><p>Zum Autor:</p></em>
<p>{{ about }}</p>
</div>
</div>
{% endif %}
