{% if post.author %}
{% assign the_author = post.author %}
{% else %}
{% assign the_author = page.author %}
{% endif %}

{% case the_author %}

{% when 'david-frese' %}
{% assign the_author_name = "David Frese" %}
{% assign the_author_href = "http://www.active-group.de/unternehmen/frese.html" %}

{% when 'andreas-bernauer' %}
{% assign the_author_name = "Andreas Bernauer" %}
{% assign the_author_href = "http://www.active-group.de/unternehmen/bernauer.html" %}

{% when 'michael-sperber' %}
{% assign the_author_name = "Michael Sperber" %}
{% assign the_author_href = "http://www.active-group.de/unternehmen/sperber.html" %}

{% when 'stefan-wehr' %}
{% assign the_author_name = "Stefan Wehr" %}
{% assign the_author_href = "http://www.factisresearch.com/company.html#swehr" %}

{% when 'uwe-schmidt' %}
{% assign the_author_name = "Uwe Schmidt" %}
{% assign the_author_href = "http://www.fh-wedel.de/~si/" %}

{% when 'alexander-thiemann' %}
{% assign the_author_name = "Alexander Thiemann" %}
{% assign the_author_href = "http://www.factisresearch.com/company.html#athiemann" %}

{% when 'niklas-baumstark' %}
{% assign the_author_name = "Niklas Baumstark" %}
{% assign the_author_href = "http://www.factisresearch.com/company.html#nbaumstark" %}


{% when 'joachim-breitner' %}
{% assign the_author_name = "Joachim Breitner" %}
{% assign the_author_href = "http://www.joachim-breitner.de/blog/" %}

{% when 'johannes-weiss' %}
{% assign the_author_name = "Johannes Weiß" %}
{% assign the_author_href = "http://www.johannesweiss.eu" %}

{% when 'ingo-wechsung' %}
{% assign the_author_name = "Ingo Wechsung" %}
{% assign the_author_href = "http://www.contexo.de" %}

{% else %}
{% assign the_author_name = the_author %}
{% assign the_author_href = "" %}

{% endcase %}
