<ul>
<li>20.6.2014: Vortrag über Haskell-Programmierung im harten Alltag
beim <a href="http://iba-cg.de/hal9.html">Haskell-Treffen
HaL9</a> in Halle an der Saale</li>
<li>17.7.2014: <a
href="http://www.java-forum-stuttgart.de/de/Abstracts+Slot+1.html#art454">Vortrag
über Monaden</a> auf dem <a
href="http://www.java-forum-stuttgart.de/">Java Forum 2014</a> in Stuttgart</li>
<li>22.-23.7.2014: <a href="http://www.lambdajam.com/">LambdaJam</a>
in Chicago, USA</li>
<li>28.-29.7.2014: <a
href="http://lampwww.epfl.ch/~hmiller/scala2014/">Scala Workshop
2014</a> in Uppsala, Schweden</li>
<li>31.8.-6.9.2014: <a
href="http://icfpconference.org/icfp2014/">International Conference on
Functional Programming</a> in Göteborg, Schweden</li>
<li>4.9.-6.9.2014: <a href="http://cufp.org/">Commercial Users of
Functional Programming</a> in Göteborg, Schweden</li>
<li>8.10.2014 <a
href="https://skillsmatter.com/conferences/1907-haskell-exchange-2014">Haskell
eXchange</a> in London, England</li>
<li>20.-22.11.2014: <a
href="http://clojure-conj.org/">Clojure/conj</a> in Washington, USA</li>
<li>20.11.-21.11.2014: <a href="http://lanyrd.com/2014/fpdays/">FP
Days 2014</a> in London, England</li>
<li>23.1.2015: <a href="http://bobkonf.de/">BOB</a> in Berlin</li>
</ul>
