<ul>
      <li>4.9.-9.9.2023: <a href="https://icfp23.sigplan.org/">International
	  Conference on Functional Programming (ICFP)</a> in Seattle,
	USA</li>
      <li>8.9.2023: <a href="https://www.functional-architecture.org/events/funarch-2023/">SIGPLAN
      Workshop on Functional Software Architecture - FP in the
	  Large</a> in Seattle, USA</li>
      <li>8.9.-10.9.2023: <a href="https://2023.nixcon.org/">NixCon
	  2023</a> in Darmstadt</li>
      <li>17.-20.10.2023: <a href="https://codebeameurope.com/">Codebeam Europe</a> in Berlin</li>
</ul>
