<ul>
<li>31.8.-6.9.2014: <a
href="http://icfpconference.org/icfp2014/">International Conference on
Functional Programming</a> in Göteborg, Schweden</li>
<li>4.9.-6.9.2014: <a href="http://cufp.org/">Commercial Users of
Functional Programming</a> in Göteborg, Schweden</li>
<li>26.9.-28.9.2014: <a
href="http://www.haskell.org/haskellwiki/HacBerlin2014">Haskell
Hackathon</a> in Berlin, Deutschland</li>
<li>8.10.2014: <a
href="https://skillsmatter.com/conferences/1907-haskell-exchange-2014">Haskell
eXchange</a> in London, England</li>
<li>23.-24.10.2014: <a href="http://scala.io/">ScalaIO</a> in Paris, Frankreich</li>
<li>3.-5.11.2014: <a href="http://www.codemesh.io/">Code Mesh 2014</a>
in London, England</li>
<li>20.-21.11.2014: <a href="http://fpdays.net/2014/">FP Days 2014</a>
in London, England</li>
<li>20.-22.11.2014: <a
href="http://clojure-conj.org/">Clojure/conj</a> in Washington, USA</li>
<li>20.11.-21.11.2014: <a href="http://lanyrd.com/2014/fpdays/">FP
Days 2014</a> in London, England</li>
<li>1.-4.12.2014: <a
href="http://www.erlang-factory.com/berlin2014">Erlang Factory
Lite</a> in Berlin</li>
<li>8.-9.12.2013: <a
href="https://skillsmatter.com/conferences/1948-scala-exchange-2014">Scala
eXchange 2014</a> in London, England</li>
<li>22.1.-24.1.2014: <a href="http://clojured.de/">:clojured</a> in Berlin</li>
<li>23.1.2015: <a href="http://bobkonf.de/">BOB</a> in Berlin</li>
</ul>
