<ul>
<li>1.3.2017: Nicole Rauch und Michael Sperber auf
  der <a href="http://topconf.com/linz-2017">Topconf 2017</a> in Linz
  mit <a href="http://topconf.com/linz-2017/trackevent/the-day-after-tomorrow-let-the-machine-do-the-coding/">
    The day after tomorrow: Let the machine do the coding</a></li>
<li>5./6.10.2017: Nicole Rauch und Michael Sperber auf
  der <a href="http://sc-london.com/">Software Craftsmanship
    London</a> mit The day after tomorrow: Let the machine do the coding</li>
</ul>
