<ul>
  <li>15.10.2020: Michael Sperber auf dem <a href="https://www.software-architecture-gathering.de/">Software
      Architecture Gathering</a>
      mit <a href="https://www.software-architecture-gathering.de/programm/programm-details/2039/einfuehrung-in-die-funktionale-softwarearchitektur/">Einführung
      in die funktionale Softwarearchitektur</a></li> (online)
  <li>6.11.2020: Michael Sperber auf der <a href="https://codesync.global/conferences/code-mesh-ldn/">Code Mesh V</a>
  mit <a href="https://codesync.global/conferences/code-mesh-ldn/training/#131functional-software-architecture">Functional
      Software Architecture</a></li> (online)
</ul>

