<ul>
<li>23.4.2015: Michael Sperber auf der <a
href="http://www.parallelcon.de/">parallel 2015</a> in Karlsruhe mit
<a
href="http://www.parallelcon.de/veranstaltung-4667-unbegrenze-nebenl%C3%A4ufigkeit-mit-monaden.html?id=4667">Unbegrenzte
Nebenläufigkeit mit Monaden</a>
<li>21.5./22.5.2015: Michael Sperber auf dem
<a href="https://entwicklertag.de/karlsruhe/2015">Karlsruher
Entwicklertag 2015</a>
mit <a
href="https://entwicklertag.de/karlsruhe/2015/funktionale">Funktionale
Programmierung optimal nutzen</a> und
<a
href="https://entwicklertag.de/karlsruhe/2015/systematische-entwicklung">Systematische
Entwicklung mit funktionaler Programmierung</a>
</li>
<li>17.6.2015: Michael Sperber auf der <a
href="http://www.developer-week.de/">DWX Developer World 2015</a> in
Nürnberg mit <a
href="http://www.developer-week.de/Programm/Veranstaltung/%28event%29/18461">Immutability
als Architekturprinzip</a></li>
<li>9.7.2015: Michael Sperber auf dem <a
href="http://www.java-forum-stuttgart.de/">Java Forum 2015</a> in
Stuttgart über <i>Frontend-Entwicklung mit React/Reacl</i></li>
</ul>
