<div class="navbar navbar-fp">
  <div class="navbar-inner">
    <div style="display: flex; justify-content: space-between;">
      <div>
        <div><a href="/"><img alt="FP" id="logo" src="/img/logo.png" /></a></div>
        <ul class="nav nav-pills">
          <li><a href="/">Funktionale Programmierung</a></li>
          <li><a href="/archive.html">Archiv</a></li>
          <li><a href="/tags-archive.html">Tags</a></li>
          <!-- <li><a href="/kontakt.html">Kontakt</a></li> -->
          <li><a href="/rss.xml">RSS</a></li>
          <li>
            <form action="https://duckduckgo.com/"
                  method="GET"
                  style="display: flex; align-items: baseline; gap: 8px; padding-top: 5px;">
              <!-- Disable ads -->
              <input type="hidden" name="k1" value="-1" />
              <!-- Dark blue header -->
              <input type="hidden" name="kj" value="b2" />
              <input type="hidden" name="sites" value="funktionale-programmierung.de" />
              <input type="search" name="q" />
              <button type="submit">
                Search
              </button>
            </form>
          </li>
        </ul>
      </div>
      <div>
        <a href="https://www.active-group.de" target="_blank">
          <img alt="Active Group GmbH" id="aglogo" src="/img/active-group-logo.png" />
        </a>
      </div>
    </div>
  </div>
</div>
