<div class="navbar navbar-static-top navbar-fp">
  <div class="navbar-inner">
    <ul class="nav nav-pills">
      <li><a class="brand" href="/">Blog: Funktionale Programmierung</a></li>
      <li><a href="/archive.html">Archiv</a></li>
      <li><a href="/tags-archive.html">Tags</a></li>
      <li><a href="/impressum.html">Impressum</a></li>
    </ul>

    <form id="search-form" class="navbar-search pull-right" action="/search.html" style="display: none">
      <input name="query" type="text" class="search-query" placeholder="Suche in Beitr&auml;gen..." style="height: 17px" />
    </form>
    <!-- Nur sichbar machen wenn JavaScript aktiviert -->
    <script>
      $(document).ready(function () {
        var f = $("#search-form");
        f.css("display", "block");
      });
    </script>

  </div>
</div>


