<div class="navbar navbar-static-top navbar-fp">
  <div class="navbar-inner">
    <ul class="nav nav-pills">
      <li><a class="brand" href="/">Blog: Funktionale Programmierung</a></li>
      <li><a href="/archive.html">Archiv</a></li>
      <li><a href="/tags-archive.html">Tags</a></li>
      <li><a href="/impressum.html">Impressum</a></li>
    </ul>
<!-- Suche für's erste mal nicht
    <form class="navbar-search pull-right">
      <input type="text" class="search-query" placeholder="Suchen..." style="height: 17px" />
    </form>
-->
  </div>
</div>


