<ul>
  <li>07.-10.11.2022: <a href="https://www.active-group.de/schulung/foundation.html">iSAQB Foundation Level</a> in Düsseldorf</li>
  <li>21.-24.11.2022:  <a href="https://www.active-group.de/schulung/flex.html">Flexible Softwarearchitekturen</a> online</li>
  <li>21.-24.11.2022:  <a href="https://www.active-group.de/schulung/foundation.html">iSAQB Foundation Level</a> in Tirol</li>
    <li>28.11.-1.12.2022: <a href="https://www.active-group.de/schulung/funar.html">Funktionale
      Softwarearchitektur</a> in Hamburg</li>
  <li>05.-08.12.2022: <a href="https://www.active-group.de/schulung/foundation.html">iSAQB Foundation Level</a> in Berlin</li>
  <li>12.–15.12.2022:  <a href="https://www.active-group.de/schulung/flex.html">Flexible Softwarearchitekturen</a> in Berlin</li>
<li>24.-27.01.2023: <a href="https://www.active-group.de/schulung/flex.html">Flexible Software Architectures</a> (englisch) online</li>
<li>31.01.-03.02.2023:  <a href="https://www.active-group.de/schulung/funar.html">Funktionale Softwarearchitektur</a> online</li>
  <li>13.02.-16.02.2023:  <a href="https://www.active-group.de/schulung/funar.html">Funktionale Softwarearchitektur</a> online</li>
  <li>28.02.-03.03.2023:  <a href="https://www.active-group.de/schulung/flex.html">Flexible Softwarearchitekturen</a> online</li>
  <li>06.03.-09.03.2023:  <a href="https://www.active-group.de/schulung/flex.html">Flexible Softwarearchitekturen</a> online</li>
   <li>27.-30.03.2023: <a href="https://www.active-group.de/schulung/foundation.html">iSAQB Foundation Level</a> in Düsseldorf</li>
  <li>24.04.-27.04.2023:  <a href="https://www.active-group.de/schulung/flex.html">Flexible Softwarearchitekturen</a> in München</li>
  <li>02.05.-05.05.2023:  <a href="https://www.active-group.de/schulung/funar.html">Funktionale Softwarearchitektur</a> in Hamburg</li>

  <li>12.-15.06.2023: <a href="https://www.active-group.de/schulung/foundation.html">iSAQB Foundation Level</a> in München</li>
  <li>19.-22.06.2023: <a href="https://www.active-group.de/schulung/foundation.html">iSAQB Foundation Level (English)</a> online</li>
  </ul>
