<ul>
  <li>7.-10.11.2022: <a href="https://www.active-group.de/schulung/foundation.html">iSAQB Foundation Level</a> in Düsseldorf</li> 
  <li>28.11.-1.12.2022: <a href="https://www.active-group.de/schulung/funar.html">Funktionale
      Softwarearchitektur</a> in Hamburg</li>
  <li>5.-8.12.2022: <a href="https://www.active-group.de/schulung/foundation.html">iSAQB Foundation Level</a> in Berlin</li>
  <li>12.–15.12.2022:  <a href="https://www.active-group.de/schulung/flex.html">Flexible Softwarearchitekturen</a> in Berlin</li>
</ul>
