<ul>
  <li>12.9.-15.9.2023: <a href="https://www.active-group.de/schulung/funar.html">iSAQB Funktionale Softwarearchitektur</a> online</li>
  <li>19.9.-22.9.2023: <a href="https://www.active-group.de/schulung/foundation.html">iSAQB
      Foundation Level</a> in Düsseldorf</li>
 <!--  <li>18.9.-21.9.2023: <a href="https://www.active-group.de/schulung/flex.html">iSAQB
      Flexible Softwarearchitekturen</a> in Berlin</li> -->
  <li>9.10.-12.10.2023: <a href="https://www.active-group.de/schulung/foundation.html">iSAQB Foundation Level</a> in München</li>
  <li>14.11-17.11.2023: <a href="https://www.active-group.de/schulung/foundation.html">iSAQB Foundation Level</a> in Berlin</li>
  <li>28.11.-1.12.2023: <a href="https://www.active-group.de/schulung/flex.html">iSAQB Flexible Softwarearchitecture</a> online, with Elixir, in English</li>
  <li>4.12.-7.12.2023: <a href="https://www.active-group.de/schulung/funar.html">iSAQB
      Funktionale Softwarearchitekturen</a> in Hamburg</li>
</ul>
