<div class="sidehead">Betrieben von:</div>
<div class="logo"><a target="_blank" href="http://www.active-group.de/">
<!--img src="/img/active-group-logo.png" /-->
Active Group GmbH
</a></div>
<div class="logo"><a target="_blank" href="http://www.factisresearch.com">Factis Research GmbH</a></div>

<div class="sidehead">Kürzlich gepostet</div>
<ul>
  {% for post in site.posts limit:4 %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  <!--li><a href="/">Der gesamte Rest...</a></li-->
</ul>

<div class="sidehead">Aktuelle Veranstaltungen:</div>
<ul>
<li>14.-16.11.2013: <a href="http://www.clojure-conj.org/">Clojure/conj 2013</a> in Alexandria,
USA</li>
<li>2.-3.12.2013: <a
href="http://skillsmatter.com/event-details/home/scala-exchange-2013/">Scala
eXchange</a> in London,
England</li>
<li>3.-5.12.2013: <a href="http://codemesh.io/">Code Mesh 2013</a> in
London</li>
<li>16.-18.6.2014: <a href="http://scaladays.org/">Scala Days</a> in Berlin</li>
</ul>

<div>&nbsp;</div>
