<div class="sidehead">Betrieben von:</div>
<div class="logo"><a target="_blank" href="http://www.active-group.de/">
<!--img src="/img/active-group-logo.png" /-->
Active Group GmbH
</a></div>
<div class="logo"><a target="_blank" href="http://www.factisresearch.com">Factis Research GmbH</a></div>

<div class="sidehead">Kürzlich gepostet</div>
<ul>
  {% for post in site.posts limit:4 %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  <!--li><a href="/">Der gesamte Rest...</a></li-->
</ul>

<div class="sidehead">Aktuelle Veranstaltungen:</div>
<ul>
<li>22.8.2013: <a href="http://mostlyfunctional.com/">Mostly
Functional @ Turing</a> in Edinburgh</li>
<li>24.-25.8.2013: <a
href="http://www.linux-magazin.de/NEWS/Quasiconf-Lisp-auf-der-Froscon-2012">Lisp-Track</a>
auf der <a href="http://www.froscon.de/">FrOSCon</a> in St. Augustin</li>
<li>29.8.-1.9.2013: <a
href="http://www.haskell.org/haskellwiki/ZuriHac2013">Zurich FP
Afternoon / ZuriHac 2013</a> in Zürich</li>
<li>11.-13.9.2013: <a
href="http://www.it-sicherheit-bayern.de/IT-Sicherheitscluster/115292-118-seminar_funktionale_programmierung_mit_haskell_11_1309,1,0.html">Seminar
"Funktionale Programmierung mit Haskell"</a> in Regensburg</li>
<li>22.-24.9.2013: <a
href="http://www.active-group.de/news/2013/03/11/cufp-cfp.html">Commercial
Users of Functional Programming 2013</a> in Boston</li>
<li>14.-15.10.2013: <a
href="http://euroclojure.com/2013/">EuroClojure 2013</a> in
Berlin</li>
<li>16.10.2013: <a href="http://www.erlang-factory.com/conference/Berlin2013">Berlin Erlang Factory Lite 2013</a></li>
<li>24.-25.10.2013: <a href="http://signup.scala.io/">ScalaIO</a> in Paris</li>
<li>24.-25.10.2013: <a
href="http://www.fpdays.net/fpdays2012/index.php">FP Days 2013</a> in
Cambridge, England</li>
<li>14.-16.11.2013: <a href="http://www.clojure-conj.org/">Clojure/conj 2013</a> in Alexandria,
USA</li>
<li>2.-3.12.2013: <a
href="http://skillsmatter.com/event-details/home/scala-exchange-2013/">Scala
eXchange</a> in London,
England</li>
</ul>


<div>&nbsp;</div>
