<div class="sidehead">Betrieben von:</div>
<div class="logo"><a target="_blank" href="http://www.active-group.de/">
<!--img src="/img/active-group-logo.png" /-->
Active Group GmbH
</a></div>
<div class="logo"><a target="_blank" href="http://www.factisresearch.com">Factis Research GmbH</a></div>

<div class="sidehead">Kürzlich gepostet</div>
<ul>
  {% for post in site.posts limit:4 %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  <!--li><a href="/">Der gesamte Rest...</a></li-->
</ul>

<div class="sidehead">Funktionale Programmierung unterwegs:</div>

{% include fp-unterwegs.html %}

<div class="sidehead">Aktuelle Veranstaltungen:</div>

{% include events.html %}

<div class="sidehead"><a href="/event-archive.html">Veranstaltungs-Archiv</a></div>
