body {
  font-family: georgia, serif;
  margin-left: 0;
}

p,h1,h2,h3,h4,h5,h6,ul,ol,li,div,td,th,address,blockquote,nobr,b,i
     { font-family: 'DejaVu Serif', georgia, serif; }

p,ul,ol,li,div,td,th,address,nobr,b,i { font-size:16px; }

h1 { font-size:1.5em; color:#000000; font-weight:bold; }

h2 { font-size:1.1875em; color:#640201; font-weight:normal; }

h3 { font-size:1.1875em; color:#000000; font-weight:bold; }

h4 { font-size:1em; color:#94152a; font-weight:bold; }

h5 { font-size:1em; color:#000000; font-weight:bold; }

h6 { font-size:0.7em; color:#000000; font-weight:normal; }

hr { color:#94152a; }


a:link { color:#94152a; text-decoration:none; }
a:hover { color:#333333; text-decoration:none; }
a:visited { color:#7f7f7f; text-decoration:none; }
a:active { color:#000000; text-decoration:none; }

img { border: 0 }

#menubar a:link { color:#000000; text-decoration:none; }
#menubar a:hover { color:#94152a; text-decoration:none; }
#menubar a:visited { color:#000000; text-decoration:none; }
#menubar a:active { color:#000000; text-decoration:none; }

#sidebar a:link { color:#000000; text-decoration:none; }
#sidebar a:hover { color:#94152a; text-decoration:none; }
#sidebar a:visited { color:#000000; text-decoration:none; }
#sidebar a:active { color:#000000; text-decoration:none; }

#sidebar ul { list-style-image:url(/bilder/listensymbol.gif) }

#home { 
  top: 0;
  position: absolute;
}

#sidebar { 
  top: 150px;
  position: absolute;
  width: 220px;
}

#vertsep { 
  top: 0px;
  position: absolute;
  left: 246px;
  width: 40px;
  height: 100%;
  background-color: #994844;
}

#titlebar { 
  top: 0px;
  position: absolute;
  right: 0px;
}

#menubackground { 
  top: 120px;
  height: 30px;
  position: absolute;
  width: 100%;
  background-color: #f1e2e3;
}

#menubar { 
  top: 125px;
  height: 30px;
  position: absolute;
  right: 0px;
  margin-right: 1em;
}

#content { 
  position: absolute;
  top: 180px;
  max-width: 60em;
  left: 300px;
  margin-left: 2em;
  margin-right: 2em;
}
