<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="de:DE">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% if page.meta_description %}
  <meta name="description" content="{{ page.meta_description }}" />
{% endif %}

{% if page.url == "/index.html" %}
  <link rel="canonical" href="http://funktionale-programmierung.de/" />
{% endif %}

  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link rel="alternate" type="application/rss+xml"
  href="http://funktionale-programmierung.de/rss.xml"
  title="Blog Funktionale Programmierung" />
  <link rel="shortcut icon" href="/img/fp.ico" />
  <title>Funktionale Programmierung -
{% if page.page_title %}
{{ page.page_title }}
{% else %}
{{ page.title }}
{% endif %}
  </title>

  <script src="https://code.jquery.com/jquery-latest.js"></script>
  <script src="/socialshareprivacy/jquery.socialshareprivacy.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38774259-1']);
  _gaq.push(['_setDomainName', 'funktionale-programmierung.de']);
  _gaq.push(['_gat._anonymizeIp']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/javascript">
function displaySharingButtons(elemId) {
    $('#' + elemId).socialSharePrivacy({
        services : {
            facebook : {
                'perma_option' : 'off',
                'dummy_img': '/socialshareprivacy/images/dummy_facebook.png'
            },
            twitter : {
                'perma_option' : 'off',
                'dummy_img': '/socialshareprivacy/images/dummy_twitter.png'
            },
            gplus : {
                'status' : 'off'
            }
        },
        'css_path'  : '/socialshareprivacy/socialshareprivacy.css',
        'lang_path' : '/socialshareprivacy/lang/',
        'language'  : 'de'
    });
}
</script>
</head>

<body>
  <div class="row-fluid navbar-row">
    <div id="navbar" class="navbar-static-top">
      {% include navbar.html %}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div id="sidebar" class="span4 well box">
	<aside>
	  {% include sidebar.html %}
	</aside>
      </div>
      <div id="main" class="span8">
	{{ content }}
      </div>
    </div>
  </div>

  <script src="/js/bootstrap.min.js"></script>
</body>

</html>
