<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link rel="alternate" type="application/rss+xml" href="https://funktionale-programmierung.de/rss.xml" title="RSS-Feed der Beitr&auml;ge" />
  <link rel="shortcut icon" href="/img/fp.ico" />
  <title>Funktionale Programmierung - {{ page.title }}</title>

  <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
  <div class="row-fluid">
    <div id="navbar" class="navbar-static-top">
      {% include navbar.html %}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div id="sidebar" class="span3 well">
	<aside>
	  {% include sidebar.html %}
	</aside>
      </div>
      <div id="main" class="span9">
	{{ content }}
      </div>
    </div>
  </div>

  <script src="/js/bootstrap.min.js"></script>
</body>

</html>
