<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" href="/files/ag.css" type="text/css" />
	<link rel="shortcut icon" href="/files/fp.ico" />
	  <title>Funktionale Programmierung - {{ page.title }}</title>
</head>

<body>
<div id="main">
	<article>
	        <h2><a href="{{ page.previous.url }}">Voriger
	        Artikel</a>, <a href="{{ page.next.url }}">Nächster
	        Artikel</a></h2>
	
	        <h2>
	           {% for tag in page.tags %}
	             <a href="/tags-archive.html#{{ tag }}">{{ tag }}</a>
	           {% endfor %}
	        </h2>

		<h1>{{ page.title }}<span class="post-date">{{ page.date || date: "%Y-%m-%d" }}</span></h1>
		{{ content }}
	</article>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'fc-funktionale-programmierung; // required: replace example with your forum shortname

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
{% include sidebar.html %}

</html>
